@import url('https://fonts.googleapis.com/css?family=Quicksand|Montserrat');

* {
    text-align: center;
    color: black
}

body {
    background-image: url('../assets/background-cake.jpg');
    background-size: 100%;
    font-family: 'Quicksand', sans-serif;
}

.heading {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    text-shadow: 2px 3px 4px #ffffff;
}

h1 {
    font-size: 35pt;
    margin: 0px 5px 3px 5px;
    background-color: rgb(212, 193, 206);
    border-radius: 20%;
}

a {
    font-weight: bold;
    text-shadow: 1px 1px 3px #ffffff;
    text-decoration: underline;
    text-decoration-style: double;
    font-size: 15pt;
}

h2 {
    background-color: rgb(212, 193, 206);
    border-radius: 20%;
}