form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    align-items: center;
    min-height: 530px;
    background: rgba(202, 179, 201, .6);
    align-items: center;
    border-radius: 3px;
}

div {
    width: 600px;
    text-align: left;
    border: .5px dotted rgb(135, 60, 146);
    margin-top: 10px;
    margin-bottom: 10px;
}

input {
    width: 400px;
    height: 20px;;
    margin: 10px;
}

#image:hover {
    cursor: pointer;
}

#description {
    width: 400px;
    height: 80px;
    margin: 10px;
}

button {
    display: block;
    width: 400px;
    height: 50px;
    font-size: 14pt;
    background-color: rgb(217, 204, 218);
    border-color: rgb(82, 45, 70);
    border-radius: 3px;
    box-shadow: 1px 2px 3px rgb(82, 45, 70);
    margin-bottom: auto;
    text-shadow: .5px .5px 1px grey;
}

button:hover {
    cursor: pointer;
}